
*{
    padding: 0; margin: 0;
}
body {
    font-family: "Microsoft YaHei";
    background:#dedede; 
}
/*头部*/
header {
    position: relative;
    height: 60px;
    background: gray;
}
header img {
    height: 60px;
    margin-left: 30px;
}
header ul {
    position: absolute;
    top: 0; right: 30px;
}
header ul li {
    display: inline-block;
    padding: 20px 10px;
    text-align: center;
    width: 60px;
}
header ul li a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}
header ul li:hover {
    border-bottom:1px solid red;
    border-radius: 3px;
    background: #474747;
}
/*主题*/
main {
    width: 800px;
    margin: 0 auto;
}
article, aside {
    background: white;
    padding: 30px;
    margin: 20px 0;
}
article h3 {
    padding: 20px 0;
    color: gray;
    font-size: 15px;
}
article .auther,article .atime {
    line-height: 30px;
    color: gray;
    font-size: 5px;
}
article p {
    text-indent: 2em;
}
article a:hover {
    color: red;
}
article ul li {
    list-style-type: none;
}
article dl dd {
    border: 1px solid gray;
    padding: 10px;
    margin: 10px 10px;
}
article dl dd span {
    display: block;
    text-align: center;
    margin: 5px;
}
article ol {
    padding:10px 10px 20px 40px;
}
article table {
    width:100%;
    border-collapse: collapse;
}
article table tr th {
    color: white;
    background: black;
}
article table tr td {
    border: 1px solid gray;
}
.buttomtable {
    background: #ccc;
}
/*侧栏*/
aside h4 {
    font-size: 20px ;
    border-left: 5px solid #ccc;
    padding-left: 10px;
}
.tips {
    width: 35%;
    float: left;
    text-align: right;
    margin-right: 15px;
}
aside div p {
    margin-left: 35%;
    padding-left: 15px;
    font-size: 12px;
    color: #aaa;
}
aside textarea {
    width: 45%;
    height: 100px;
}
.submitButton {
    width: 100%;
    height: 50px;
    background: #ccc;
    border-radius: 15px;
    border: none;
}
.submitButton:hover {
    background: #474747;
    color: white;
}
/*尾部*/
footer {
    height: 50px;
    background: black;
    color: white;
    line-height: 50px;
    text-align: center;
    font-size: 10px;
}